* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d6efd;
    width: 100vw;
    height: 100vh;
}

.form {
    background-color: #fff;
    padding: 1rem;
    width: 40%;
    border-radius: 8px;
}

.inputUser {
    margin-bottom: 1rem;
    width: 100%;
}

.inputUser input {
    width: 100%;
    border-style: none;
    background-color: rgba(105, 105, 105, 0.238);
    padding: 0.75rem;
    border-radius: 8px;
}

.formButtons {
    width: 100%;
    background-color: rgba(105, 105, 105, 0.238);
}

button[type='submit'] {
    background-color: forestgreen;
    color: white;

}

label {
    text-align: left;
    display: block;
}